body{
    --backgrounder: #b3ffcc;
}

table{
    background-color: var(--backgrounder);
}

td{
    background-color: #00b33c;
    color: #ffffff;
}

.kalaha{
    background-color: #004d1a;
    color: #ffffff;
}

.niks{
    background-color: var(--backgrounder);
    border:0px;
    height: 50px;
}

table, th, td {
    border: 1px;
}

.button{
    display: inline-block;
    width: 100px;
    height:100px;
    background-color: #00b33c;
    color: #ffffff;
    border: none;
}

.kalaha .button{
    height:300px;
    background-color: #004d1a;

}